@page "/loginpassword"
@layout LoginLayout


@using MudBlazor
@using courseworkDB.Components.Layout
@using courseworkDB.Models
@using courseworkDB.Services

@inject AuthenticationService AuthenticationService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject ISnackbar Snackbar


<div style=" width: 55rem; height: 30rem; background-color: #bdc6ce; border-radius: 20px; " class=" d-flex justify-content-around align-items-center">
    <div style=" font-family: Poppins;" class="d-flex flex-column justify-content-center">
        <h1 style=" font-size: 3rem;" class=" fw-bolder">BISLERIUM CAFE</h1>
        <MudText Color="Color.Tertiary" style=" font-size:2rem; " class=" fw-bold">POS SYSTEM</MudText>
    </div>
    <div style="width: 23rem; height: 100%" class=" d-flex flex-column justify-content-center align-items-center">

            <EditForm Model="@loginModel" OnValidSubmit="@HandleLogin" class=" input-group d-flex flex-column justify-content-center gap-3 px-4">
                <MudInputLabel Style=" font-family: Poppins; font-weight: bolder; font-size: 1.3rem;">PASSWORD:</MudInputLabel>
                <InputText @bind-Value="@loginModel.Password" type="password" placeholder="Enter password" class=" input-group-text" style=" outline: none; border-radius: 5px; font-size: 1.2rem; height: 3rem;" />
                <DataAnnotationsValidator />
                <ValidationSummary />
            <MudButton Color="Color.Tertiary" type="submit" Variant="Variant.Filled" Style=" border-radius: 5px; height: 3rem; font-size:1.2rem;">ENTER</MudButton>
            </EditForm>
        
    </div>
</div>

@code {
    private LoginModel loginModel = new();
    private string successMessage = string.Empty;
    private string errorMessage = string.Empty;

    private async Task HandleLogin()
    {
        if (await AuthenticationService.Authenticate(loginModel.Password))
        {

            successMessage = "Authentication Succesfull. Thank you";
            Snackbar.Add(successMessage, Severity.Success);
            NavigationManager.NavigateTo("/dashboard"); 

        }
        else
        {
            errorMessage = "Authentication Failed. Please try Again!!";
            Snackbar.Add(errorMessage, Severity.Error);
            StateHasChanged();
        }

    }
}
